{
  "root": true,
  "extends": [

    "plugin:vue/vue3-essential",
    "eslint:recommended"
  ],
  "env": {
    "vue/setup-compiler-macros": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  }
}
